
@{
    ViewBag.Title = "PassViewData";
}

<div class="jumbotron alert-success">
    <h2>以ViewData傳遞資料</h2>
</div>


<ul>
    <li>Name : @ViewData["Name"]</li>
    <li>Age : @((int)ViewData["Age"]+1)</li>
    <li>Single : @ViewData["Single"]</li>
</ul>

<hr />
<ul>
    @foreach (var item in ViewData)
    {
        <li>@item.Key, @item.Value</li>
    }
</ul>

